In [1]:
# ONLY RUN ONCE, must restart notebook otherwise
import pandas as pd
import os
from pathlib import Path
current_dir = Path.cwd()
path = current_dir.parent
print(path)
#change directory to get src class data
os.chdir(path)
from src.dataclass import *
from src.directional_survey import *
from src.DataBatch import *

C:\Users\BpAmos\Documents\repos\directional-survey-converter

In [4]:
file = path / 'data/wellbore_survey.csv'
df = pd.read_csv(file, sep=',')
#df_lat_lon_orig = df[['latitude_decimal_deg', 'longitude_decimal_deg']]

In [5]:
df = df[['wellId', 'md', 'inc', 'azim', 'surface_latitude', 'surface_longitude']]
df

     wellId        md    inc    azim  surface_latitude  surface_longitude
0    well_C      0.00   0.00  227.11         29.908294          47.688521
1    well_C     35.00   0.00  227.11         29.908294          47.688521
2    well_C    774.81   0.46  227.11         29.908294          47.688521
3    well_C    800.00   0.13  163.86         29.908294          47.688521
4    well_C    900.00   0.57  230.43         29.908294          47.688521
..      ...       ...    ...     ...               ...                ...
105  well_C  10613.00  89.88   27.59         29.908294          47.688521
106  well_C  10707.00  90.00   26.69         29.908294          47.688521
107  well_C  10802.00  89.72   26.72         29.908294          47.688521
108  well_C  10851.00  90.06   27.04         29.908294          47.688521
109  well_C  10890.00  90.00   27.35         29.908294          47.688521

[110 rows x 6 columns]

In [9]:
my_data = DataBatch(df)
my_data.from_df()

In [13]:
# test with different column headers

In [14]:
df.rename(columns = {'wellId':'UWI', 'md':'MD', 
                              'inc':'Inclination', 'azim':'Azimuth'}, inplace = True)
df = df.iloc[:, ::-1]
df.head()

   surface_longitude  surface_latitude  Azimuth  Inclination      MD     UWI
0          47.688521         29.908294   227.11         0.00    0.00  well_C
1          47.688521         29.908294   227.11         0.00   35.00  well_C
2          47.688521         29.908294   227.11         0.46  774.81  well_C
3          47.688521         29.908294   163.86         0.13  800.00  well_C
4          47.688521         29.908294   230.43         0.57  900.00  well_C

In [16]:
my_data = DataBatch(df)
my_data.from_df(wellId_name='UWI',md_name='MD', inc_name='Inclination',
                       azim_name='Azimuth', surface_latitude_name='surface_latitude',
                       surface_longitude_name='surface_longitude')

DirectionalSurvey(wellId='well_C', md=array([    0.  ,    35.  ,   774.81,   800.  ,   900.  ,  1000.  ,
        1100.  ,  1200.  ,  1300.  ,  1400.  ,  1500.  ,  1600.  ,
        1700.  ,  1800.  ,  1900.  ,  2000.  ,  2100.  ,  2200.  ,
        2300.  ,  2400.  ,  2500.  ,  2600.  ,  2700.  ,  2800.  ,
        2900.  ,  3000.  ,  3100.  ,  3200.  ,  3300.  ,  3400.  ,
        3500.  ,  3600.  ,  3700.  ,  3800.  ,  3900.  ,  4000.  ,
        4100.  ,  4200.  ,  4300.  ,  4400.  ,  4500.  ,  4600.  ,
        4700.  ,  4800.  ,  4900.  ,  5000.  ,  5100.  ,  5200.  ,
        5300.  ,  5400.  ,  5500.  ,  5600.  ,  5700.  ,  5800.  ,
        5900.  ,  6000.  ,  6100.  ,  6200.  ,  6300.  ,  6400.  ,
        6450.67,  6532.  ,  6625.  ,  6720.  ,  6813.  ,  6909.  ,
        7002.  ,  7098.  ,  7191.  ,  7286.  ,  7379.  ,  7475.  ,
        7569.  ,  7663.  ,  7758.  ,  7851.  ,  7947.  ,  8040.  ,
        8135.  ,  8229.  ,  8324.  ,  8418.  ,  8512.  ,  8606.  ,
        8700.  ,  8794.  ,  8859.  ,  8924.  ,  9018.  ,  9112.  ,
        9206.  ,  9292.  ,  9386.  ,  9481.  ,  9574.  ,  9669.  ,
        9764.  ,  9858.  ,  9952.  , 10047.  , 10142.  , 10236.  ,
       10330.  , 10424.  , 10517.  , 10613.  , 10707.  , 10802.  ,
       10851.  , 10890.  ]), inc=array([ 0.  ,  0.  ,  0.46,  0.13,  0.57,  0.49,  0.29,  0.6 ,  0.53,
        0.83,  0.61,  0.87,  1.17,  1.27,  1.21,  1.18,  1.24,  1.07,
        1.14,  1.16,  0.86,  0.95,  1.22,  0.82,  0.83,  0.98,  0.87,
        1.25,  1.06,  1.07,  1.34,  1.03,  1.17,  1.34,  1.37,  1.39,
        1.16,  1.61,  1.58,  1.78,  1.78,  1.81,  1.86,  1.63,  1.51,
        1.57,  1.09,  0.99,  0.88,  0.91,  0.83,  0.77,  0.64,  0.91,
        0.94,  0.66,  1.09,  0.91,  0.95,  0.8 ,  4.91, 10.35, 15.28,
       20.67, 26.19, 34.23, 40.44, 44.43, 45.39, 48.78, 51.19, 53.89,
       56.1 , 58.69, 61.62, 64.38, 67.3 , 70.15, 72.39, 75.47, 78.67,
       81.46, 84.59, 86.2 , 87.65, 89.13, 90.27, 89.72, 89.9 , 90.02,
       90.05, 90.03, 89.94, 90.06, 90.37, 90.24, 90.06, 89.97, 89.88,
       90.15, 90.03, 89.91, 89.97, 90.  , 89.88, 89.88, 90.  , 89.72,
       90.06, 90.  ]), azim=array([227.11, 227.11, 227.11, 163.86, 230.43, 254.47, 268.25, 147.67,
       236.56, 190.05, 342.93, 184.69, 187.06, 193.66, 195.77, 185.77,
       214.81, 203.82, 189.81, 194.18, 109.65, 214.46, 205.35, 190.63,
       187.75, 193.45, 188.19, 205.4 , 130.09, 218.09, 247.16, 245.17,
       239.46, 234.52, 232.45, 228.1 , 199.28, 305.98, 213.22, 211.63,
       207.08, 209.84, 204.39, 208.  , 208.46, 201.98, 187.95, 185.23,
       165.95, 163.86, 138.75, 253.13, 132.16, 189.07, 141.79, 143.34,
       306.53, 111.26, 117.69,  87.41,  55.44,  48.23,  50.93,  49.37,
        48.77,  48.96,  48.41,  48.88,  49.58,  49.67,  49.73,  49.78,
        49.14,  49.25,  49.5 ,  49.12,  48.63,  48.79,  48.83,  49.02,
        49.49,  49.55,  49.29,  47.62,  47.22,  47.69,  48.36,  48.41,
        44.97,  42.69,  40.86,  40.48,  40.36,  39.41,  38.74,  40.09,
        38.63,  35.85,  33.71,  32.12,  30.91,  29.75,  28.78,  28.53,
        29.28,  27.59,  26.69,  26.72,  27.04,  27.35]), surface_latitude=29.90829444, surface_longitude=47.68852083, tvd=None, n_s_deviation=None, e_w_deviation=None, dls=None, surface_x=None, surface_y=None, x_points=None, y_points=None, zone_number=None, zone_letter=None, latitude_points=None, longitude_points=None, isHorizontal=None)

In [82]:
def from_df(df:DataFrame, wellId_name:Optional[str]=None,md_name:Optional[str]=None,
            inc_name:Optional[str]=None, azim_name:Optional[str]=None,
                surface_latitude_name:Optional[str]=None,
                surface_longitude_name:Optional[str]=None) -> 'DirectionalSurveyObj':
    """Create a `dataclass_obj` suitable for `DirectionalSurvey()` from a dataframe.
    
    Params:
    df: Dataframe with well data from single well and all data columns.
    
    Return:
    dataclass_obj
    
    """
    
    # if no column names are specified use 0:5 for dir survey obj
    wellId_name = ifnone(wellId_name, df.columns[0])
    md_name = ifnone(md_name, df.columns[1])
    inc_name = ifnone(inc_name, df.columns[2])
    azim_name = ifnone(azim_name, df.columns[3])
    surface_latitude_name = ifnone(surface_latitude_name, df.columns[4])
    surface_longitude_name = ifnone(surface_longitude_name, df.columns[5])
    
    dataclass_obj = DirectionalSurvey(wellId = df[wellId_name][0],
                                      md = np.array(df[md_name]),
                                      inc = np.array(df[inc_name]),
                                      azim = np.array(df[azim_name]),
                                      surface_latitude = df[surface_latitude_name][0],
                                      surface_longitude = df[surface_longitude_name][0])
    return dataclass_obj

In [57]:
my_dataclass = from_df(df)
my_dataclass

DirectionalSurvey(wellId='well_C', md=array([    0.  ,    35.  ,   774.81,   800.  ,   900.  ,  1000.  ,
        1100.  ,  1200.  ,  1300.  ,  1400.  ,  1500.  ,  1600.  ,
        1700.  ,  1800.  ,  1900.  ,  2000.  ,  2100.  ,  2200.  ,
        2300.  ,  2400.  ,  2500.  ,  2600.  ,  2700.  ,  2800.  ,
        2900.  ,  3000.  ,  3100.  ,  3200.  ,  3300.  ,  3400.  ,
        3500.  ,  3600.  ,  3700.  ,  3800.  ,  3900.  ,  4000.  ,
        4100.  ,  4200.  ,  4300.  ,  4400.  ,  4500.  ,  4600.  ,
        4700.  ,  4800.  ,  4900.  ,  5000.  ,  5100.  ,  5200.  ,
        5300.  ,  5400.  ,  5500.  ,  5600.  ,  5700.  ,  5800.  ,
        5900.  ,  6000.  ,  6100.  ,  6200.  ,  6300.  ,  6400.  ,
        6450.67,  6532.  ,  6625.  ,  6720.  ,  6813.  ,  6909.  ,
        7002.  ,  7098.  ,  7191.  ,  7286.  ,  7379.  ,  7475.  ,
        7569.  ,  7663.  ,  7758.  ,  7851.  ,  7947.  ,  8040.  ,
        8135.  ,  8229.  ,  8324.  ,  8418.  ,  8512.  ,  8606.  ,
        8700.  ,  8794.  ,  8859.  ,  8924.  ,  9018.  ,  9112.  ,
        9206.  ,  9292.  ,  9386.  ,  9481.  ,  9574.  ,  9669.  ,
        9764.  ,  9858.  ,  9952.  , 10047.  , 10142.  , 10236.  ,
       10330.  , 10424.  , 10517.  , 10613.  , 10707.  , 10802.  ,
       10851.  , 10890.  ]), inc=array([ 0.  ,  0.  ,  0.46,  0.13,  0.57,  0.49,  0.29,  0.6 ,  0.53,
        0.83,  0.61,  0.87,  1.17,  1.27,  1.21,  1.18,  1.24,  1.07,
        1.14,  1.16,  0.86,  0.95,  1.22,  0.82,  0.83,  0.98,  0.87,
        1.25,  1.06,  1.07,  1.34,  1.03,  1.17,  1.34,  1.37,  1.39,
        1.16,  1.61,  1.58,  1.78,  1.78,  1.81,  1.86,  1.63,  1.51,
        1.57,  1.09,  0.99,  0.88,  0.91,  0.83,  0.77,  0.64,  0.91,
        0.94,  0.66,  1.09,  0.91,  0.95,  0.8 ,  4.91, 10.35, 15.28,
       20.67, 26.19, 34.23, 40.44, 44.43, 45.39, 48.78, 51.19, 53.89,
       56.1 , 58.69, 61.62, 64.38, 67.3 , 70.15, 72.39, 75.47, 78.67,
       81.46, 84.59, 86.2 , 87.65, 89.13, 90.27, 89.72, 89.9 , 90.02,
       90.05, 90.03, 89.94, 90.06, 90.37, 90.24, 90.06, 89.97, 89.88,
       90.15, 90.03, 89.91, 89.97, 90.  , 89.88, 89.88, 90.  , 89.72,
       90.06, 90.  ]), azim=array([227.11, 227.11, 227.11, 163.86, 230.43, 254.47, 268.25, 147.67,
       236.56, 190.05, 342.93, 184.69, 187.06, 193.66, 195.77, 185.77,
       214.81, 203.82, 189.81, 194.18, 109.65, 214.46, 205.35, 190.63,
       187.75, 193.45, 188.19, 205.4 , 130.09, 218.09, 247.16, 245.17,
       239.46, 234.52, 232.45, 228.1 , 199.28, 305.98, 213.22, 211.63,
       207.08, 209.84, 204.39, 208.  , 208.46, 201.98, 187.95, 185.23,
       165.95, 163.86, 138.75, 253.13, 132.16, 189.07, 141.79, 143.34,
       306.53, 111.26, 117.69,  87.41,  55.44,  48.23,  50.93,  49.37,
        48.77,  48.96,  48.41,  48.88,  49.58,  49.67,  49.73,  49.78,
        49.14,  49.25,  49.5 ,  49.12,  48.63,  48.79,  48.83,  49.02,
        49.49,  49.55,  49.29,  47.62,  47.22,  47.69,  48.36,  48.41,
        44.97,  42.69,  40.86,  40.48,  40.36,  39.41,  38.74,  40.09,
        38.63,  35.85,  33.71,  32.12,  30.91,  29.75,  28.78,  28.53,
        29.28,  27.59,  26.69,  26.72,  27.04,  27.35]), surface_latitude=29.90829444, surface_longitude=47.68852083, tvd=None, n_s_deviation=None, e_w_deviation=None, dls=None, surface_x=None, surface_y=None, x_points=None, y_points=None, zone_number=None, zone_letter=None, latitude_points=None, longitude_points=None, isHorizontal=None)